@{
    ViewData["Title"] = "Nota Fiscal";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="4">📝 Compra realizada!</h1>
    <p>Bom dia @ViewBag.Nome, a compra do seu cáfé foi feita e seu troco é de R$ @ViewBag.troco</p>
    <p>Espero que goste</p>
</div>