@{ ViewData["Title"] = "Sobre"; }

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="4">⚙️ Sobre Mim </h1>
    <p>
        Esse trabalho mostra um pouco das minhas habilidades, tenho alguns projetos publicados no GitHub também. <a href="https://github.com/luizgustavo77/"><i class="bi bi-github"></i></a>
    </p>
</div>
