@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="video-home">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://assets.mixkit.co/videos/preview/mixkit-coffee-maker-making-coffee-3578-large.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Codigo Liquido</h1>
                    <p class="lead mb-0">Luiz Gustavo de Freitas</p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <p>Esse projeto foi realizado com intuito de ser chamado para proximas etapas na Itbit</p>
                    <p>A idéia inicial também fazia login por Identity mas tive muitos problemas nas diferenças entre .NET FRAMEWORK & .NET CORE então mudei o formato de Login</p>
                </div>
            </div>
        </div>
    </section>
</div>