@model UserDto

@{
    ViewData["Title"] = "Create";
}

<h1>Ola!</h1>

<h4>Bem vindo de volta!</h4>
<hr />
<div class="row">
    <div class="col-2"></div>

    <form asp-action="Login" class="form-signin col-8">
        <label style=" font-size: 65px; text-align: center; margin-left: 45%;">☕</label>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <br />
        <label asp-for="Login" class="control-label"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>

        <br />
        <label asp-for="PassWord" class="control-label"></label>
        <input asp-for="PassWord" class="form-control" />
        <span asp-validation-for="PassWord" class="text-danger"></span>

        <br />
        <button type="submit" value="Criar" class="btn btn-lg btn-primary btn-block"> Login </button>
        <br />
        <a class="btn btn-lg btn-block btn-secondary" asp-area="" asp-controller="Core" asp-action="Registro"> Cadastrar </a>
    </form>

    <div class="col-2"></div>
</div>

<div>
    <a class="btn btn-sm btn-primary block" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
